.container{
    padding: 60px 15px;
    width: 480px;
    height: 945px;
    background: linear-gradient(152deg, #ffeb80 0%, #fdbfa3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.725;
    color: #434364;
}

.text{
    font-family: "Avenir Next", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        text-align: center;
        color: #434364;
        width: 369px;
        height: 140px;
}

.list{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.listItem{
width: 180px;
display: flex;
flex-direction: column;
align-items: center;
}

.svg{
    width: 180px;
    height: 100px;
    margin-bottom: 20px;
}

.titleItem{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #6d31d0;
}

.textItem{
    font-family: "Avenir Next", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        text-align: center;
        color: #434364;
}

@media screen and (min-width: 768px) and (max-width: 1158px){
.container{
     width: 768px;
}

.text{
    width: 468px;
    height: 120px;
}

.listItem{
    width: 280px;
}

.list{
    gap: 20px;
}
}

@media screen and (min-width: 1158px){
.container{
    width: 1440px;
    height: 672px;
}

.text{
    width: 580px;
    height: 94px;
}
.list{
    gap: 80px;
}
.listItem{
}
}
