.container{ 
    background-image: url('../../assets/picture_home-1-2x-min.png') ;
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 800px;
    padding: 100px;
}



.list{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.listItem{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
    height: 20px;
    background: rgba(109, 49, 208, 0.5);
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffdb80;
    text-shadow: 0 0 80px 0 #023f76;
}



.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11111;
    color: #fff;
    line-height: 1.6;
    text-shadow: 0 0 80px 0 #023f76;
}

.titleItem{
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    color: #fff;
    
    margin-bottom: 20px;
}


.text{
    font-family: "Avenir Next", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #fff;
        text-shadow: 0 0 80px 0 #023f76, 0 4px 40px 0 rgba(0, 0, 0, 0.25);
        width: 520px;
        height: 120px;
}

.btn{
border-radius: 88px;
    padding: 16px 22px;
    width: 200px;
    height: 48px;
    box-shadow: 0 4px 35px 0 rgba(255, 185, 175, 0.3);
    background: linear-gradient(152deg, #ffeb80 0%, #fdbfa3 100%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #6d31d0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.btn:hover{
    border: 1px solid #ffdb80;
    box-shadow: 0 4px 35px 0 rgba(255, 185, 175, 0.3);
    background: linear-gradient(90deg, #6d31d0 0%, #ab80ef 100%);
    color: #ffdb80;
     
    
}


@media screen and (min-width: 768px) and (max-width: 1158px){

}
@media screen and (min-width: 1158px) {

}
