.container{
    padding: 60px 130px;
    width: 480px;
    background: linear-gradient(180deg, rgba(109, 49, 208, 0.1) 0%, rgba(109, 49, 208, 0.21) 28.65%, rgba(109, 49, 208, 0.47) 53.12%, #6d31d0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.title{
    font-weight: 600;
    font-size: 40px;
    line-height: 0.725;
    color: #434364;
    border-bottom: 4px solid #fdbfa3;
    padding-bottom: 24px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.listItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.icon{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #6d31d0 0%, #ab80ef 100%);
    padding: 6px;
}

.text{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    color: #6d31d0;
}

.text:hover{
    color: #ab80ef;
}

.card{
    border-radius: 60px;
    width: 400px;
    backdrop-filter: blur(500px);
    background: linear-gradient(152deg, #ffeb80 0%, #fdbfa3 100%);
    padding: 20px;   
}

.cardTitle{
    font-family: "Avenir Next", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.14286;
    text-transform: uppercase;
    text-align: center;
    color: #434364;
    margin-bottom: 20px;
}

.form{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

.error{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

.input{
    border-radius: 20px;
    width: 380px;
    height: 47px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(28, 37, 44, 0.08);
    background: #fff;
    font-family: "Avenir Next", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #434364;
    padding-left: 10px;
    margin-top: 10px;
    position: relative;
}
.input:first-child{
    margin-top: 0;
}
.textarea{
    border-radius: 20px;
    width: 380px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(28, 37, 44, 0.08);
    background: #fff;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #434364;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    border: none;
}

.label{
    font-family: "Avenir Next", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #434364;
        width: 340px;
        height: 70px;
        margin-top: 20px;
}

.privacy{
    display: flex;
}

span{
    text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #6d31d0;
}


.btn{
    border-radius: 30px;
    padding: 14px 34px;
    width: 138px;
    height: 60px;
    box-shadow: 0 14px 23px 0 rgba(28, 37, 44, 0.08);
    background: #ffdb80;
    font-family: "Avenir Next", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #6d31d0;
    border: none;
    margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1158px){
    .container{
       width: 768px;
    }

    .card{
        width: 600px;
    }

    .input{
        width: 280px;
    }
.headerContainer{
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
    
}

 @media screen and (min-width: 1158px){

 }
