.container{
    padding: 60px 130px;
    width: 480px;
    background: linear-gradient(180deg, rgba(109, 49, 208, 0.1) 0%, rgba(109, 49, 208, 0.21) 28.65%, rgba(109, 49, 208, 0.47) 53.12%, #6d31d0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: "Avenir Next", sans-serif;
        font-weight: 600;
        font-size: 40px;
        line-height: 0.725;
        color: #434364;
        border-bottom: 4px solid #fdbfa3;
        padding-bottom: 24px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
}
